/*Main styles*/
.researchPG {
  background-color: #d5dbdb;
  color: #1c2833;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  height: calc(100vh - 3.1rem);
}

/*Sidebar styles
.sidebarContainer {
  overflow-y: auto;
}

/*Contents styles*/
.contentPG {
  padding-top: 3%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 3%;
  overflow: auto;
}
.title {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 2%;
}
.mainText {
  font-size: 1.2rem;
  line-height: 1.75rem;
  text-align: justify;
}
.image {
  max-width: 80%;
  height: auto;
}

/*Publication styles*/
.publication {
  margin-left: -1.2rem;
  font-size: 1.2rem;
  text-align: justify;
}
.publication a:link,
.publication a:visited {
  color: #1c2833;
}
.publication a:hover {
  color: #21618c;
}
