/*Main styles*/
.researchPG {
  background-image: url(./research_images/Hexagon.svg);
  background-size: cover;
  background-position: center;
  color: #1c2833;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  height: calc(100vh - 3.5rem);
  margin-top: 3.5rem;
}

@media (max-width: 850px) {
  .researchPG {
    margin-top: 0;
  }
}

a:link {
  color: inherit;
}
a:visited {
  color: inherit;
}
a:hover {
  color: #6082b6;
}

/*Contents styles*/
.contentPG {
  padding-top: 6%;
  padding-left: 5%;
  padding-right: 7%;
  padding-bottom: 6%;
  overflow: overlay;
}
.title {
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 3%;
}

.subtitle {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1%;
  padding-top: 3%;
}

.projTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1%;
  margin-top: 2.5%;
}

.topicTitle {
  font-size: 1.2rem;
  font-style: italic;
  text-decoration: underline;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}
.topicTitle a:link {
  background-color: #eaf2f8;
  color: inherit;
}
.topicTitle a:visited {
  color: inherit;
  background-color: #eaf2f8;
}
.topicTitle a:hover {
  color: inherit;
  background-color: #d6eaf8;
}

.mainText {
  font-size: 1.15rem;
  line-height: 1.75rem;
  text-align: justify;
  margin-bottom: 1.5%;
}
.mainText a:link {
  background-color: #eaf2f8;
  border-bottom: 1.7px solid lightgrey;
  font-style: italic;
  color: inherit;
}
.mainText a:visited {
  color: inherit;
  background-color: #eaf2f8;
  border-bottom: 1.7px solid lightgrey;
}
.mainText a:hover {
  color: inherit;
  background-color: #d6eaf8;
  border-bottom: 1.7px solid darkgrey;
}

.image {
  display: block;
  margin: auto;
  padding-bottom: 2.5%;
  padding-top: 0.5%;
  height: auto;
  width: auto;
}

.note {
  font-style: italic;
  font-size: 1rem;
  color: #6082b6;
  text-align: right;
}
.note a:link {
  text-decoration: underline;
  color: inherit;
}
.note a:visited {
  color: inherit;
}
.note a:hover {
  color: #1c2833;
}

.list {
  margin-top: -0.9rem;
  margin-left: -1rem;
}

/*Publication and reference styles*/
.reference {
  font-size: 1.1rem;
  line-height: 1.5rem;
  text-align: justify;
  margin-bottom: 1%;
  color: #1a5276;
}
.reference a:link,
.reference a:visited {
  color: inherit;
}
.reference a:hover {
  color: #6082b6;
}

.publication {
  margin-left: -1rem;
  font-size: 1.1rem;
  text-align: justify;
}

@media (max-width: 750px) {
  .contentPG {
    padding-left: 0;
  }
}
