body {
  /*background-image: url(images/Concrete.png);
  background-repeat:repeat;*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  overflow: hidden;
}
a {
  text-decoration-line: none;
}

::-webkit-scrollbar {
  width: 12px;
  z-index: 1000;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(120, 120, 120, 0.6);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(160, 160, 160, 0.6);
}

sup,
sub {
  vertical-align: baseline;
  position: relative;
  top: -0.3rem;
  font-size: 70%;
}
sub {
  top: 0.1rem;
}

/*header styles*/
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 3rem;
  color: rgb(107, 117, 117);
  box-shadow: 0 2px 10px 0 #acacac;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
}
.header a:link,
.header a:visited {
  color: rgb(107, 117, 117);
}
.header a:hover {
  color: rgb(95, 158, 160);
}
.header-name {
  flex-direction: row;
  display: flex;
  padding-left: 2rem;
  font-size: 1.1rem;
}
.header-nav {
  justify-content: space-around;
  flex-grow: 0.5;
  font-size: 0.9rem;
  display: flex;
  width: 20%;
  font-size: 0.825rem;
  padding-right: 0.5rem;
}
@media (max-width: 1200px) {
  .header-nav {
    width: 35%;
  }
}

@media (max-width: 1050px) {
  .header-nav {
    width: 55%;
    font-size: 0.8rem;
  }
}

@media (max-width: 860px) {
  .header-name {
    font-size: 0.85rem;
  }
  .header-nav {
    font-size: 0.6rem;
  }
}

@media (max-width: 660px) {
  .header-name {
    font-size: 0.55rem;
    padding-left: 0.8rem;
  }
  .header-nav {
    width: 90%;
    font-size: 0.5rem;
    color: rgb(146, 150, 150);
  }
  .header-nav a:link,
  .header-nav a:visited {
    color: rgb(146, 150, 150);
  }
}

@media (max-width: 465px) {
  .header-name {
    padding-left: 0.6rem;
    font-size: 0.45rem;
  }
  .header-nav {
    width: 97%;
    font-size: 0.4rem;
  }
}

@media (max-width: 300px) {
  .header-name {
    font-size: 0.4rem;
    padding-left: 0.5rem;
  }
  .header-nav {
    width: 100%;
    font-size: 0.325rem;
  }
}
