body {
  background-color: rgb(234, 238, 241);
  /*background-image: url(images/Concrete.png);
  background-repeat:repeat;*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
}
a {
  text-decoration-line: none;
}
.page {
  margin-top: 4rem;
}
@media (max-width: 1200px) {
  .page {
    margin-top: 4rem;
  }
}
@media (max-width: 1050px) {
  .page {
    margin-top: 3.75rem;
  }
}
@media (max-width: 900px) {
  .page {
    margin-top: 3.5rem;
  }
}
@media (max-width: 750px) {
  .page {
    margin-top: 3.25rem;
  }
}
@media (max-width: 500px) {
  .page {
    margin-top: 3rem;
  }
}
/*header styles*/
.header {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 3rem;
  color: rgb(107, 117, 117);
  box-shadow: 0 2px 10px 0 #acacac;
  position: fixed;
  top: 0;
  width: 100%;
}
.header a:link,
.header a:visited {
  color: rgb(107, 117, 117);
}
.header a:hover {
  color: rgb(64, 150, 150);
}
.header-name {
  flex-direction: row;
  display: flex;
  padding-left: 1rem;
  font-size: 1.1rem;
}
.header-nav {
  justify-content: space-around;
  flex-grow: 0.5;
  font-size: 0.9rem;
  display: flex;
  width: 20%;
  font-size: 0.825rem;
}
@media (max-width: 1200px) {
  .header-nav {
    width: 30%;
  }
}
@media (max-width: 1100px) {
  .header-nav {
    width: 35%;
  }
}
@media (max-width: 1050px) {
  .header-nav {
    width: 40%;
  }
}
@media (max-width: 1010px) {
  .header-nav {
    width: 45%;
  }
}
@media (max-width: 980px) {
  .header-nav {
    width: 50%;
  }
}
@media (max-width: 920px) {
  .header-nav {
    width: 55%;
    font-size: 0.8rem;
  }
}
@media (max-width: 860px) {
  .header-nav {
    font-size: 0.75rem;
  }
}
@media (max-width: 830px) {
  .header-name {
    font-size: 1rem;
  }
  .header-nav {
    font-size: 0.7rem;
  }
}
@media (max-width: 750px) {
  .header-name {
    font-size: 0.9rem;
  }
  .header-nav {
    font-size: 0.65rem;
  }
}
@media (max-width: 710px) {
  .header-name {
    font-size: 0.85rem;
  }
  .header-nav {
    font-size: 0.6rem;
  }
}
@media (max-width: 660px) {
  .header-name {
    font-size: 0.8rem;
  }
  .header-nav {
    font-size: 0.55rem;
  }
}
@media (max-width: 610px) {
  .header-name {
    font-size: 0.75rem;
  }
  .header-nav {
    width: 60%;
  }
}
@media (max-width: 570px) {
  .header-name {
    font-size: 0.65rem;
  }
  .header-nav {
    width: 70%;
    color: rgb(146, 150, 150);
  }
  .header-nav a:link,
  .header-nav a:visited {
    color: rgb(146, 150, 150);
  }
}
@media (max-width: 530px) {
  .header-nav {
    width: 80%;
  }
}
@media (max-width: 530px) {
  .header-name {
    font-size: 0.6rem;
    padding-left: 0.8rem;
  }
  .header-nav {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .header-name {
    font-size: 0.55rem;
  }
  .header-nav {
    font-size: 0.5rem;
  }
}
@media (max-width: 465px) {
  .header-name {
    padding-left: 0.7rem;
    font-size: 0.5rem;
  }
  .header-nav {
    width: 97%;
    font-size: 0.45rem;
  }
}
@media (max-width: 420px) {
  .header-name {
    padding-left: 0.6rem;
    font-size: 0.45rem;
  }
  .header-nav {
    font-size: 0.4rem;
  }
}

/*Styles for front page*/
.frontblock {
  background-image: url("images/UnderTheTree.png");
  background-size: cover;
  height: 52rem;
  text-align: center;
  color: rgb(188, 215, 226);
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 0.2rem;
  font-size: 1.2rem;
}

.welcome {
  padding-top: 7.75rem;
  padding-bottom: 1rem;
  font-size: 4rem;
  text-shadow: 2px 2px rgb(41, 61, 61);
}
.name-back {
  margin: 1.5rem 16rem 1.5rem 16rem;
  background-color: rgba(161, 160, 160, 0.4);
}
.name {
  padding: 2.5rem 0rem 2.5rem 0rem;
  font-size: 5rem;
  color: rgb(255, 255, 255);
  border-style: solid solid solid solid;
  border-color: rgb(103, 114, 114);
  border-width: 0.5rem;
}
.name-cn {
  font-family: Tahoma, Helvetica, Arial, "Microsoft Yahei", "微软雅黑", STXihei,
    "华文细黑", sans-serif;
}
.name2 {
  padding-top: 0.5rem;
  font-size: 2.75rem;
  color: rgb(255, 255, 255);
}
.selfintro {
  margin-top: 3rem;
  line-height: 1.7rem;
  color: white;
  text-shadow: 1.5px 1.5px rgb(41, 61, 61);
}
@media (max-width: 1420px) {
  .name {
    font-size: 4.5rem;
  }
}
@media (max-width: 1340px) {
  .name-back {
    margin: 1.5rem 15rem 1.5rem 15rem;
  }
}
@media (max-width: 1280px) {
  .welcome {
    font-size: 3.5rem;
  }
  .name {
    font-size: 4rem;
  }
}
@media (max-width: 1200px) {
  .name-back {
    margin: 1.5rem 13rem 1.5rem 13rem;
  }
}
@media (max-width: 1140px) {
  .welcome {
    padding-top: 8.75rem;
    padding-bottom: 1.5rem;
    font-size: 3rem;
  }
  .name {
    font-size: 3.5rem;
  }
}
@media (max-width: 1045px) {
  .welcome {
    padding-top: 9.5rem;
    font-size: 2.5rem;
  }
  .name {
    font-size: 3rem;
  }
  .name2 {
    font-size: 2.5rem;
  }
}
@media (max-width: 980px) {
  .frontblock {
    font-size: 1rem;
    height: 40rem;
  }
  .welcome {
    padding-top: 5.75rem;
  }
  .name-back {
    margin: 1.5rem 12rem 1.5rem 12rem;
  }
  .name {
    padding: 2rem 0rem 2rem 0rem;
  }
}
@media (max-width: 920px) {
  .welcome {
    font-size: 2rem;
    padding-top: 6rem;
  }
  .name {
    font-size: 2.5rem;
  }
  .name2 {
    font-size: 2rem;
  }
}
@media (max-width: 850px) {
  .name-back {
    margin: 1.5rem 10rem 1.5rem 10rem;
  }
  .name {
    padding: 1.7rem 0rem 1.7rem 0rem;
  }
}
@media (max-width: 800px) {
  .welcome {
    padding-top: 4.75rem;
  }
  .name-cn {
    display: block;
  }
}
@media (max-width: 640px) {
  .name-back {
    margin: 1.5rem 8rem 1.5rem 8rem;
  }
  .name {
    padding: 1.5rem 0rem 1.5rem 0rem;
  }
}
@media (max-width: 560px) {
  .welcome {
    font-size: 1.8rem;
  }
  .name {
    font-size: 2.2rem;
  }
  .name2 {
    font-size: 1.8rem;
  }
}
@media (max-width: 520px) {
  .frontblock {
    height: 35rem;
  }
  .welcome {
    font-size: 1.6rem;
    padding-top: 3.75rem;
  }
  .name {
    font-size: 2rem;
    padding: 1.2rem 0rem 1.2rem 0rem;
  }
  .name2 {
    font-size: 1.6rem;
  }
}
@media (max-width: 500px) {
  .welcome {
    font-size: 1.5rem;
    padding-top: 3.5rem;
  }
  .name-back {
    margin: 1.3rem 6rem 1.3rem 6rem;
  }
  .name {
    font-size: 1.8rem;
    padding: 1rem 0rem 1rem 0rem;
  }
  .name2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 400px) {
  .frontblock {
    font-size: 0.9rem;
  }
  .selfintro {
    margin-top: 2rem;
  }
}

/*Styles for Project block*/
.pro-block {
  background-image: url(images/Darklines.jpg);
  background-repeat: repeat;
  height: 53rem;
  text-align: center;
  color: rgb(188, 215, 226);
  font-family: Arial, Helvetica, sans-serif;
}
.pro-title {
  padding-top: 7.5rem;
  padding-bottom: 5rem;
  font-size: 4.5rem;
  /*text-shadow: 3px 3px rgb(84, 117, 129);*/
  color: white;
}
.pro-box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.pro-res {
  background: url(images/ResProCover.png);
  background-size: cover;
  margin-bottom: 2rem;
}
.pro-comp {
  background: url(images/CompCover.png);
  background-size: cover;
  margin-bottom: 2rem;
}
.pro-paint {
  background: url(images/PaintCover.png);
  background-size: cover;
  margin-bottom: 2rem;
}
.pro-item {
  font-size: 3rem;
  line-height: 4rem;
  color: white;
  text-shadow: 2.5px 2.5px rgb(74, 114, 128);
  border-style: solid solid solid solid;
  border-color: rgb(255, 255, 255);
  border-width: 0.3rem;
  width: 23.5rem;
  height: 21rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pro-item a:link,
a:visited {
  color: rgb(255, 255, 255);
}
.pro-item:hover {
  background-color: rgba(196, 196, 196, 0.5);
  transition: all 0.1s;
}
.pro-res:hover,
.pro-comp:hover,
.pro-paint:hover {
  transform: scale(1.05);
  transition: all 0.1s;
}
.pro-item:hover a {
  color: rgb(168, 207, 230);
  text-shadow: 2.5px 2.5px rgb(7, 8, 10);
}
.pro-item a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1300px) {
  .pro-item {
    width: 20rem;
    height: 17.5rem;
    font-size: 2.5rem;
  }
}
@media (max-width: 1200px) {
  .pro-item {
    width: 18rem;
    height: 15.5rem;
    font-size: 2.25rem;
    line-height: 3.75rem;
  }
}
@media (max-width: 1000px) {
  .pro-block {
    height: 49rem;
  }
  .pro-title {
    padding-top: 9rem;
    padding-bottom: 6rem;
    font-size: 4rem;
  }
  .pro-item {
    width: 16rem;
    height: 14rem;
    font-size: 2rem;
    line-height: 3.25rem;
  }
}
@media (max-width: 900px) {
  .pro-block {
    height: 60rem;
  }
  .pro-title {
    padding-top: 7rem;
    padding-bottom: 4.5rem;
    font-size: 3.5rem;
  }
  .pro-item {
    font-size: 2.25rem;
    line-height: 3.5rem;
    width: 18rem;
    height: 16rem;
  }
}
@media (max-width: 650px) {
  .pro-block {
    height: 80rem;
  }
  .pro-title {
    padding-top: 6rem;
    padding-bottom: 4rem;
    font-size: 3.25rem;
  }
  .pro-item {
    font-size: 2.5rem;
    line-height: 3.75rem;
    width: 19.5rem;
    height: 18rem;
  }
}
@media (max-width: 430px) {
  .pro-block {
    height: 65rem;
  }
  .pro-title {
    padding-top: 5rem;
    padding-bottom: 3rem;
    font-size: 2.5rem;
  }
  .pro-item {
    font-size: 2rem;
    line-height: 3rem;
    width: 16rem;
    height: 14rem;
  }
}

/*Styles for Research Projects*/
.res-front {
  background-color: dimgrey;
  color: rgb(188, 215, 226);
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.res-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.res-item {
  font-size: 3.5rem;
  color: white;
  text-shadow: 2.5px 2.5px rgb(74, 114, 128);
  border-style: solid solid solid solid;
  border-color: rgb(255, 255, 255);
  border-width: 0.3rem;
  width: 25rem;
  height: 22rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.LiSiON {
  background-image: url(images/ResProCover.png);
  background-size: cover;
  margin: 0rem 2rem 4rem 2rem;
}
.LiPON {
  background-image: url(images/ResProCover.png);
  background-size: cover;
  margin: 0rem 2rem 4rem 2rem;
}
.Oxysil {
  background-image: url(images/ResProCover.png);
  background-size: cover;
  margin: 0rem 2rem 4rem 2rem;
}
.ZTA {
  background-image: url(images/ResProCover.png);
  background-size: cover;
  margin: 0rem 2rem 4rem 2rem;
}

/*Styles for Compositions*/
.comp-page {
}

/*Styles for Paintings*/
.paint-page {
  background-image: url(images/LightWool.png);
  background-repeat: repeat;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-bottom: 2rem;
}
.paint-row {
  justify-content: space-evenly;
  flex-direction: row;
  display: flex;
  align-items: center;
}
.paint-long {
  max-width: 28%;
  height: auto;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  box-shadow: 5px 5px 10px dimgray;
}
.paint-wide {
  max-width: 39%;
  height: auto;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  box-shadow: 5px 5px 10px dimgray;
}
@media (max-width: 1200px) {
  .paint-page {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
@media (max-width: 1100px) {
  .paint-page {
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
  }
}
@media (max-width: 950px) {
  .paint-page {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
  }
  .paint-long {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .paint-wide {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 800px) {
  .paint-page {
    margin-bottom: 1rem;
  }
}
@media (max-width: 650px) {
  .paint-page {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .paint-long {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .paint-wide {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

/*Styles for CV page*/
.CV {
  width: 62.5%;
  margin: 0 auto;
  margin-bottom: 3%;
  background-image: url(images/CanvasWhite.png);
  background-repeat: repeat;
  padding-right: 4.5%;
  padding-left: 4.5%;
  padding-top: 4.5%;
  padding-bottom: 4.5%;
  box-shadow: 5px 5px 20px #acacac;
  font-size: 0.9rem;
}
.sec {
  margin-bottom: 5%;
}
.list {
  padding-bottom: 0.25%;
}
.email-pad {
  padding-bottom: 2.5%;
}
.CV-title {
  color: rgb(48, 96, 151);
}
.sec-title {
  color: rgb(48, 96, 151);
}
.li-title {
  color: rgb(33, 67, 105);
  margin-bottom: 1%;
}
.li-title2 {
  color: rgb(33, 67, 105);
  margin-bottom: 0rem;
}
.container {
  justify-content: space-between;
  flex-direction: row;
  display: flex;
}
.container-r {
  justify-content: flex-end;
  flex-direction: row;
  display: flex;
  margin-top: 0rem;
}
.date {
  align-items: flex-end;
  flex-direction: column;
  display: flex;
  color: rgb(48, 96, 151);
  font-size: 0.9rem;
  font-weight: bold;
}

.nonbold {
  font-weight: normal;
}
.pub a:link,
.pub a:visited {
  color: black;
}
.pub a:hover {
  color: rgb(48, 96, 151);
}
@media (max-width: 1400px) {
  .CV {
    width: 65%;
  }
}
@media (max-width: 1250px) {
  .CV {
    width: 70%;
  }
}
@media (max-width: 1000px) {
  .CV {
    width: 75%;
    font-size: 0.85rem;
  }
}
@media (max-width: 750px) {
  .CV {
    width: 80%;
  }
}
@media (max-width: 700px) {
  .CV {
    width: 85%;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
  }
}
@media (max-width: 620px) {
  .CV {
    width: 88%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 0.8rem;
  }
}
@media (max-width: 550px) {
  .CV {
    font-size: 0.7rem;
  }
}
@media (max-width: 500px) {
  .CV {
    font-size: 0.6rem;
    width: 90%;
  }
}
